#data_set_info
  .row.card-body
    %div{ class: action_name.eql?('properties') ? 'col-12' : 'col-6' }
      .card.small
        .card-header.p-2
          data
        .card-body
          .row.mb-2
            .col-4.pr-0.text-right.font-weight-bold
              scrape task:
            .col-8
              -if @data_set.scrape_task
                =link_to(@data_set.scrape_task&.name, @data_set.scrape_task)
          .row.mb-2
            .col-4.pr-0.text-right.font-weight-bold
              location:
            .col-8
              =@data_set.location
          .row.mb-2
            .col-4.pr-0.text-right.font-weight-bold
              preparation document:
            .col-8
              =@data_set.preparation_doc
          .row.mb-2
            .col-4.pr-0.text-right.font-weight-bold
              slack channel:
            .col-8
              =@data_set.slack_channel
          .row.mb-2
            .col-4.pr-0.text-right.font-weight-bold
              sheriff:
            .col-8
              =@data_set.sheriff&.name
          .row.mb-2
            .col-4.pr-0.text-right.font-weight-bold
              state:
            .col-8
              =@data_set.state&.name
          .row.mb-2
            .col-4.pr-0.text-right.font-weight-bold
              category:
            .col-8
              =@data_set.category&.name
          .row
            .col-4.pr-0.text-right.font-weight-bold
              comment:
            .col-8
              =@data_set.comment ? @data_set.comment.gsub("\n",'<br>').html_safe : ''

    -if !action_name.eql?('properties')
      .col-6
        .card.small
          .card-header.p-2
            default properties:
          .card-body
            .row.pb-2
              .col-3.text-right.font-weight-bold
                photo bucket:
              .col-9
                =@data_set.photo_bucket&.name
            .row
              .col-3.text-right.font-weight-bold
                client (tag):
              .col-9
                -@data_set.client_publication_tags.each do |row|
                  -if row.publication.nil?
                    ="#{row.client.name}(all publications) - #{row.tag.name}"
                  -else
                    ="#{row.client.name}(#{row.publication.name}) - #{row.tag.name}"
                  %br/
