%b #{data_set.name}
%hr/
#data_set_info
  .row
    .col-6
      .card.small
        .card-header.p-2
          source
        .card-body
          .row
            .col-4.pr-0.text-right
              address:
            .col-8
              #{data_set.src_address}
            .col-4.pr-0.text-right
              explaining data:
            .col-8
              #{data_set.src_explaining_data}
            .col-4.pr-0.text-right
              release frequency:
            .col-8
              #{data_set.src_release_frequency}
            .col-4.pr-0.text-right
              scrape frequency:
            .col-8
              #{data_set.src_scrape_frequency}
            .col-4.pr-0.text-right
              on cron?:
            .col-8
              -if data_set.cron_scraping
                true
                %br/
              -else
                false

    .col-6
      .card.small
        .card-header.p-2
          data set
        .card-body
          .row
            .col-4.pr-0.text-right
              location:
            .col-8
              #{data_set.src_address}
            .col-4.pr-0.text-right
              evaluation doc:
            .col-8
              #{data_set.evaluation_document}
            .col-4.pr-0.text-right
              evaluated?:
            .col-8
              #{data_set.evaluated}
            .col-4.pr-0.text-right
              evaluated at:
            .col-8
              #{data_set.evaluated_at}
            .col-4.pr-0.text-right

    .col-6.mt-3
      .card.small
        .card-header.p-2
          additional info:
        .card-body
          .row
            .col-4.pr-0.text-right
              gather task:
            .col-8
              #{data_set.gather_task}
            .col-4.pr-0.text-right
              scrape dev:
            .col-8
              #{data_set.scrape_developer}
            .col-4.pr-0.text-right
              comment:
            .col-8
              #{data_set.comment}
