-card_name = card.branch.name.humanize.upcase

.col-4.col-lg-3.mb-4{ id: "card#{card.id}" }
  .card
    .card-body{ class: "bg-#{card.enabled ? 'light' : 'white'}" }
      %h5.card-title{ class: "text-#{card.enabled ? 'dark' : 'muted'}" }
        =card_name
      .card-subtitle.mb-2.text-muted.mb-2
        =card.access_level.name.upcase
      .d-flex.justify-content-between
        .btn-group.btn-group-sm
          -if card.enabled
            .btn.btn-sm{ class: "btn-outline-dark", 'data-toggle' => "modal",
                         'data-target' => "#showPermissions#{card.id}" }
              SHOW
            .btn.btn-sm{ class: "btn-outline-dark", 'data-toggle' => "modal",
                         'data-target' => "#editAccessLevel#{card.id}" }
              EDIT
          -else
            .btn.btn-sm{ class: "btn-outline-secondary disabled" }
              SHOW
            .btn.btn-sm{ class: "btn-outline-secondary disabled" }
              EDIT
        .btn-group.btn-group-sm
          -if card.enabled
            .btn.btn-success.disabled ON
            =link_to('OFF', account_card_path(@account, card), method: :delete,
                       remote: true, data: { confirm: "#{@account.name} will lose access to #{card_name}. Are you sure?" },
                       class: 'btn btn-outline-success')

          -else
            =form_with(url: account_cards_path(@account),
                       data: { confirm: "#{@account.name} will have access to #{card_name}. Are you sure?" }) do |f|
              =f.hidden_field :id, value: card.id
              =f.submit 'ON', class: 'btn btn-sm btn-outline-secondary'
            .btn.btn-sm.btn-secondary.disabled OFF
    -if card.enabled
      .modal.fade{ id: "showPermissions#{card.id}", "aria-hidden" => "true",
                   "aria-labelledby" => "showPermissions#{card.id}",
                   'data-backdrop' => 'static', "data-keyboard" => "false" }
        .modal-dialog.modal-dialog-scrollable.modal-lg
          .modal-content
            .modal-header.text-uppercase
              ="#{card_name} -- PERMISSIONS"
              %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
                %span{ "aria-hidden" => "true" } ×
            .modal-body


      .modal.fade{ id: "editAccessLevel#{card.id}", "aria-hidden" => "true",
                   "aria-labelledby" => "editAccessLevel#{card.id}",
                   'data-backdrop' => 'static', "data-keyboard" => "false" }
        .modal-dialog.modal-dialog-scrollable.modal-lg
          .modal-content
            .modal-header.text-uppercase
              ="#{card_name} -- EDIT PERMISSIONS"
              %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
                %span{ "aria-hidden" => "true" } ×
            .modal-body
              .row.small.align-items-center.access-level
                .col-sm-3.col-lg-3.p-sm-0.text-right.font-weight-bold
                  %span ACCESS LEVEL:
                .col-sm-8.col-lg-6
                  .d-flex.justify-content-between.align-items-center
                    =collection_select(:access_level, :id, card.branch.access_levels, :id, :name, {},
                                       class: 'form-control form-control-sm d-inline-block access-selector')
                    =text_field(:access_level, :render, class: 'form-control form-control-sm d-inline-block ml-3 align-self-stretch')
                    :javascript
                      (() => {
                        let select = document.querySelector('\##{"editAccessLevel#{card.id}"} .access-selector');

                        select.addEventListener('change', () => {
                          Rails.ajax({
                            type: "GET",
                            dataType: 'script',
                            url: `/accounts/#{@account.id}/cards/#{card.id}/access_levels/${select.value}/edit`
                          });
                        });
                      })();
              %hr.mt-5/
              .form
                =render partial: 'accounts/cards/access_levels/form',
                        locals: { account: @account, card: card, access_level: card.access_level }

            .modal-footer.justify-content-center
              =link_to('UPDATE', '#', id: 'updateButton', class: 'btn btn-sm btn-dark')
              .btn.btn-sm.btn-outline-secondary{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
                CANCEL
