.col-12
  .d-inline.ml-3.mb-2.text-info
    ***if you update columns list, will drop 'uniq factoid' index and you will need to recreate it.
  .ml-3
    =form_with(model: [@factoid_type, @staging_table, @staging_table.columns], method: :put) do |form|
      #add_column.mb-2
        =icon('fa', 'plus')
      .row
        .col-8#columns_editable
          -@staging_table.columns.list.each do |hex, column|
            %div{ id: "col_#{hex}", class: 'mb-1' }
              %div.remove_column.d-inline-block.mr-1{ id: "rm_col_#{hex}" }
                =icon('fa', 'minus')
              =form.text_field "#{hex}[name]",
                               { value: column[:name], placeholder: 'name', id: "columns_#{hex}_name" }
              =form.select "#{hex}[type]", options_for_select(data_types, column[:type]), {},
                           { class: 'h_25px', id: "columns_#{hex}_type" }
              .d-inline-block
                -if %i[string text integer float].include?(column[:type])
                  =form.text_field "#{hex}[options[limit]]", { class: 'w_80px', value: column[:options][:limit], placeholder: 'limit', id: "columns_#{hex}_params_limit" }
                -elsif %i[decimal datetime time].include?(column[:type])
                  =form.text_field "#{hex}[options[precision]]", { class: 'w_80px', value: column[:options][:precision], placeholder: 'precision', id: "columns_#{hex}_params_precision" }
                -if column[:type].eql?(:decimal)
                  =form.text_field "#{hex}[options[scale]]", { class: 'w_80px', value: column[:options][:scale], placeholder: 'scale', id: "columns_#{hex}_params_scale" }
          =form.submit :update, class: 'mt-3 ml-3'
          =link_to('cancel', canceling_edit_factoid_type_staging_tables_path(@factoid_type), class: 'ml-3', remote: true)
        .col-4#column_info.border-left

=javascript_pack_tag 'columns/edit_form'
