-account_types = current_account.types
-reviewers_feedback = @fcd.reviewers_feedback
-editors_feedback = @fcd.editors_feedback
%hr/
.row
  .col-12.text-center
    %b FCD ##{@article_type.id} #{@article_type.name} -- #{@article_type.developer.name}
%hr/

-unless current_account.types.include?('editor')
  .row
    .col-10.offset-1
      %nav{ 'area-label' => 'breadcrumb' }
        %ov.breadcrumb.mb-0
          %li.breadcrumb-item
            =link_to('home', root_url)
          %li.breadcrumb-item
            =link_to('factoid type', article_type_path(@article_type))
          %li.breadcrumb-item.active{ 'area-current' => 'page' }
            FCD
%hr/

.row
  .col-10.offset-1
    #fcd_control.small
      =render 'fcd_buttons', account_types: account_types
%hr/

.row
  .col-10.offset-1
    #templatePreviewCollapse.collapse.show
      =render 'article_types/template_preview'

%hr#reviewers_feedback/
.row.small
  .col-10.offset-1
    .card
      .card-header.d-flex.justify-content-between.align-items-center
        reviewers feedback
        .btn-group
          -if account_types.include?('manager')
            =link_to("add feedback", new_article_type_fact_checking_doc_reviewers_feedback_path(@article_type, @fcd),
                     'data-toggle'=>'modal', 'data-target'=>'#manual_feedback_modal',
                     class: "btn btn-sm btn-light text-dark", onclick: 'hideAllPopovers();', remote: true)

      .card-body
        #reviewers_feedback_body
          -reviewers_feedback.each_with_index do |r_fb, index|
            %div{ id: "r_fb_#{r_fb.id}" }
              .manual_feedback.border
                .reviewers_fb_info
                  =r_fb.reviewer.name
                  &nbsp
                  =r_fb.created_at.strftime('%F %R %Z')
                  &nbsp
                  -if r_fb.approvable
                    .font-weight-bold.d-inline
                      Approved!
                  -elsif r_fb.confirmed
                    =icon('fa', 'check')
                .row
                  -if r_fb.approvable || r_fb.confirmed
                    .col-12
                      =r_fb.body
                  -else
                    .col-1.d-flex.justify-content-center.align-items-center{ onchange: "confirmFeedback(this, 'reviewers', #{r_fb.id});" }
                      %input{ type: :checkbox }
                    .col-11.pl-0
                      =r_fb.body
              -if index != (reviewers_feedback.count - 1)
                %hr.mt-4.mb-4/

%hr#editors_feedback/
.row.small
  .col-10.offset-1
    .card
      .card-header.d-flex.justify-content-between.align-items-center
        editors feedback

        .btn-group
          -if !account_types.include?('developer')
            =link_to("add feedback", new_article_type_fact_checking_doc_editors_feedback_path(@article_type, @fcd),
                     'data-toggle'=>'modal', 'data-target'=>'#manual_feedback_modal',
                     class: "btn btn-sm btn-light text-dark", onclick: 'hideAllPopovers();', remote: true)

      .card-body
        #editors_feedback_body
          -editors_feedback.each_with_index do |e_fb, index|
            .manual_feedback.border
              .editors_fb_info
                =e_fb.editor.name
                &nbsp
                =e_fb.created_at.strftime('%F %R %Z')
                &nbsp
                -if e_fb.approvable
                  .font-weight-bold.d-inline
                    Approved!
                -elsif e_fb.confirmed
                  =icon('fa', 'check')
              .row
                -if e_fb.approvable || e_fb.confirmed
                  .col-12
                    =e_fb.body
                -else
                  .col-1.d-flex.justify-content-center.align-items-center{ onchange: "confirmFeedback(this, 'editors', #{e_fb.id});" }
                    %input{ type: :checkbox }
                  .col-11.pl-0
                    =e_fb.body
            -if index != (editors_feedback.count - 1)
              %hr.mt-4.mb-4/


=render 'article_types/fact_checking_docs/confirm_feedback'
%hr/
.row.small
  .col-10.offset-1
    #fcd_body
      =raw(@fcd.body)

#template_modal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "template_modal_label",
                            role: "dialog", tabindex: "-1" }
  .modal-dialog.modal-dialog-centered.modal-xl.modal-dialog-scrollable
    .modal-content
      .modal-header
        #template_modal_label.modal-title.small
          %b
            =@article_type.name
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body

#manual_feedback_modal.modal.fade.pr-0{ "aria-hidden" => "true", "aria-labelledby" => "manual_feedback_modal_label",
                                        role: "dialog", tabindex: "-1" }
  .modal-dialog.modal-dialog-centered.modal-fullscreen.modal-dialog-scrollable
    .modal-content
      .modal-header
        .modal-title#manual_feedback_modal_label
        %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
          %span{ "aria-hidden" => "true" } ×
      .modal-body.small
        %ul#manual_feedback_tabs.nav.nav-tabs.w-60{role: "tablist"}
          %li.nav-item{role: "presentation"}
            %a#fcd-tab.nav-link.active{"aria-controls" => "fcd", "aria-selected" => "true", "data-toggle" => "tab", href: "#fcd", role: "tab"} FCD

        .d-inline-block.modal-frame-scrollable-90.w-60
          #manual_feedback_tabs_content.tab-content
            #fcd.tab-pane.fade.show.active{"aria-labelledby" => "fcd-tab", role: "tabpanel"}

        .d-inline-flex.flex-column.align-top.w-39.h-90
=render 'story_types/template_modal'
