.small
  -auto_feedback.each do |fb|
    .row
      .col-1{class: "confirm_#{fb.id} text-center", onchange: 'confirmAutoFeedback(this.className);'}
        -if fb.confirmed
          =icon('fas','check')
        -else
          =check_box_tag :auto_feedback_confirm, fb.confirmed
      -fb.auto_feedback.output.each do |rule, output|
        .col-2.p-0
          =rule
        .col-9{ id: "feedback_output_#{fb.id}", onclick: 'hideOtherPopovers(this);',
                'data-container' => 'body', 'data-toggle' => 'popover', 'data-placement' => 'top',
                'title'=> "#{fb.sample.id} - #{fb.sample_part}", 'data-content'=> fb.sample_txt_part }
          =output
    .row
      .col-6.offset-3
        %hr

:javascript
  $(function () {
    $('[data-toggle="popover"]').popover()
  })

  function confirmAutoFeedback(elem) {
    let storyType = $('#story_type,#fact_checking_document,#story_sample');
    let storyTypeId = storyType.attr('story_type_id');
    let storyTypeIterId = storyType.attr('iteration_id');

    let feedback = document.getElementsByClassName(elem)[0];
    let feedbackConfirmId = elem.split(' ').find((className) => className.match(/confirm/) ).split('_')[1];

    let changeAutoFeedbackStatus = (elem) => {
      elem.innerHTML = `<i class="fas fa-check"></i>`;
    }

    $.ajax({
      url: `#{root_url}/story_types/${storyTypeId}/iterations/${storyTypeIterId}/auto_feedback_confirmations/${feedbackConfirmId}/confirm`,
      success: changeAutoFeedbackStatus(feedback),
      method: 'patch'
    });
  }

  function hideOtherPopovers(elem) {
    let fbOutputs = document.querySelectorAll('[id^="feedback_output_"]');

    Array.from(fbOutputs).forEach((output)=> {
      if(elem !== output) {
        $(output).popover('hide')
      }
    });
  }
