-task_id = datagrid_value(grid, grid.html_columns.first, asset)
%tr{ id: "subtasks_#{task_id}", class: "accordion" }
  %div{"aria-controls" => "#subtasksCollapse_#{task_id}", "aria-expanded" => "true", "data-target" => "#subtasksCollapse_#{task_id}", "data-toggle" => "collapse", type: "button"}
    -grid.html_columns.each do |column|
      -klass = datagrid_column_classes(grid, column)
      -value = datagrid_value(grid, column, asset)
      -background_color = column.header.eql?('Status') ? "bg-#{status_color(ActionView::Base.full_sanitizer.sanitize(value))}" : ''
      %td{ class: "#{klass} #{background_color}" }
        =value
  %tr.collapse{id: "subtasksCollapse_#{task_id}", "data-parent" => "#subtasks_#{task_id}"}
    =Task.find(task_id).subtasks.count