-sow_template = 'https://docs.google.com/document/d/1XGBr8mitj6Ui4uTXiCZnevLx7F-5R0Ru0ZNkBLvXpWI/edit'

%div.mb-1
  =link_to('default SOW template', sow_template, target: '_blank', rel: 'noopener noreferrer')
%div
  =text_field_tag "sowInput#{work_request.id}", work_request.sow,
                  class: 'd-inline-block form-control form-control-sm w-85',
                  onkeypress: "sowByEnterPress#{work_request.id}(event, this)"
  .w-10.d-inline-flex.justify-content-center{ id: "sowControl#{work_request.id}" }
    .mouse-hover
      =icon('fa', 'sign-in', class: 'fa-lg', onclick: "sowByArrowClick#{work_request.id}();")
    .loadingSpinner.d-none
      .spinner-border.spinner-border-sm.text-secondary
        %span.sr-only
  %span.small.text-danger
    ***link to Google Doc or Spreadsheet

:javascript
  function sowByEnterPress#{work_request.id}(event, input) {
    if(event.keyCode !== 13) return false;

    postSow#{work_request.id}(input);
  }

  function sowByArrowClick#{work_request.id}() {
    let input = document.querySelector(`#sowInput#{work_request.id}`);

    postSow#{work_request.id}(input);
  }

  function postSow#{work_request.id}(input) {
    let value = input.value.trim();
    let arrow = document.querySelector('#sowControl#{work_request.id} .mouse-hover');
    let spinner = document.querySelector('#sowControl#{work_request.id} .loadingSpinner');

    if(value.length === 0 || !value.match(/^https:\/\/docs.google.com\/(document|spreadsheets)/))
     return false;

    arrow.classList.add('d-none');
    spinner.classList.remove('d-none');

    $('#sow#{work_request.id} u').popover('hide');

    Rails.ajax({
      type: "PATCH",
      dataType: 'script',
      url: `#{work_request_sow_cell_path(work_request)}`,
      data: `work_request[sow]=${encodeURIComponent(value)}`
    });
  }
