<hr class="mt-0">

<%= form_with(url: scrape_task_data_sets_path(@scrape_task), method: :patch, html: { class: 'ml-3',  onkeypress: "return event.keyCode !== 13;" } ) do |f| %>
  <div class="form-group form-check mb-0">
    <% @scrape_task.data_sets.each do |ds| %>
      <%= f.check_box "data_sets[#{ds.id}]", class: 'form-check-input', checked: true  %>
      <%= f.label "data_sets[#{ds.id}]", "##{ds.id} #{ds.name}", class: 'form-check-label' %>
      <br/>
    <% end %>
  </div>

  <div id="dataSetsInputBlock" class="d-flex mb-2">
    <span>ADD: </span>
    <div class="form-group mb-0">
      <input class="underline-input pt-0" list='dataSetsDataList'>
      <datalist id="dataSetsDataList">
        <% DataSet.all.each do |ds| %>
          <option value="<%= "##{ds.id} #{ds.name}" %>"%></option>
        <% end %>
      </datalist>

      <span class="mr-2 ml-2">OR</span>
      <%= link_to('[ create ]', '#', "data-toggle" => "modal", "data-target" => "#createDataSetModal") %>

      <div class="small"> *** press enter </div>
    </div>
  </div>

  <%= f.submit '[ save ]', class: 'btn btn-sm btn-link p-0' %>
  <%= link_to('[ cancel ]', scrape_task_data_sets_path, class: 'btn btn-sm btn-link text-secondary p-0', remote: true) %>
<% end %>

<hr class="mb-0">

<div id="createDataSetModal" class="modal fade" aria-hidden="true" aria-labelledby="createDataSetModal"
     role="dialog" tabindex="-1" data-backdrop="static" data-keyboard='false'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        NEW DATA SET
        <button class="close" aria-label="Close" data-dismiss="modal" type="button">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <%=render 'scrape_tasks/data_sets/new' %>
      </div>
      <div class="modal-footer justify-content-center">
        <%= link_to('CREATE', '#', id: 'createDataSetButton', class: 'btn btn-sm btn-dark') %>
        <div class="btn btn-sm btn-outline-secondary" aria-label="Close" data-dismiss="modal" type=button">CANCEL</div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    document.querySelector('#createDataSetButton').addEventListener('click', (event) => {
        event.preventDefault();
        document.querySelector('#hiddenCreateDataSetButton').click();
    }, false);
</script>

<%= javascript_pack_tag 'scrape_tasks/data_sets/form' %>


