.card.card-body
  =form_with(model: @data_set, local: controller_name.eql?('data_sets')) do |f|
    .row
      .col-6
        =f.text_field :name, placeholder: 'name', class: 'mb-1 form-control form-control-sm',
                             required: true, value: (controller_name.eql?('scrape_tasks') ? @scrape_task.name : @data_set.name  )
        -if @data_set.new_record? && !controller_name.eql?('scrape_tasks')
          .small
            =f.check_box "create_hidden_scrape_task", { id: "create_hidden_scrape_task", name: "scrape_task[create_hidden]" }
            =f.label "create_hidden_scrape_task", 'create hidden scrape task'
    %hr/

    .row
      .col-6.border-right
        =f.label :data, 'data:', class: 'small font-weight-bold mb-3'
        %br/
        =f.label :scrape_task_id, 'scrape task', class: 'small mb-0 mt-2'
        =f.collection_select :scrape_task_id, ScrapeTask.includes(:data_set).where(data_sets: { id: [nil, @data_set&.id] }).order(:name), :id, :name,
                             { include_blank: '-- not set --', selected: @scrape_task&.id || @data_set.scrape_task&.id },
                             { class: 'mb-1 form-control form-control-sm' }
        -if controller_name.eql?('scrape_tasks')
          :javascript
            var scrapeTaskId = $('#data_set_scrape_task_id');
            scrapeTaskId.multipleSelect();
            scrapeTaskId.multipleSelect('disable');

        =f.label :slack_channel, 'slack channel', class: 'small mb-0 mb-0 mt-2'
        =f.text_field :slack_channel, class: 'mb-1 form-control form-control-sm'

        =f.label :sheriff_id, 'sheriff', class: 'small mb-0 mb-0 mt-2'
        =f.collection_select :sheriff_id, Account.all.sort_by(&:name), :id, :name,
                             { include_blank: '-- not set --' }, { class: 'mb-1 form-control form-control-sm' }
        :javascript
          $('#data_set_sheriff_id').multipleSelect({
            filter: true
          });

        =f.label :state_id, 'state', class: 'small mb-0 mb-0 mt-2'
        =f.collection_select :state_id, State.all, :id, :name,
                             { include_blank: '-- not set --' }, { class: 'mb-1 form-control form-control-sm' }
        :javascript
          $('#data_set_state_id').multipleSelect({
            filter: true
          });

        =f.label :category_id, 'category', class: 'small mb-0 mb-0 mt-2'
        =f.collection_select :category_id, DataSetCategory.all.sort_by(&:name), :id, :name,
                             { include_blank: '-- not set --' }, { class: 'form-control form-control-sm' }
        :javascript
          $('#data_set_category_id').multipleSelect({
            filter: true
          });

        =f.label :comment, 'comment', class: 'small mb-0 mt-3'
        =f.text_area :comment, placeholder: 'comment', class: 'mb-1 form-control form-control-sm'

      .col-6
        =f.label :data_set, 'default properties:', class: 'small font-weight-bold mb-2'
        .photo_bucket
          .select_placeholder.text-secondary.form-control.form-control-sm.border-right-0{ 'data-text' => 'photo bucket: ' }
          =f.collection_select :photo_bucket_id, PhotoBucket.all.order(:name), :id, :name,
                                  { include_blank: true, selected: @data_set.new_record? ? false : @data_set.photo_bucket&.id },
                                  { name: 'default_props[photo_bucket_id]', class: 'form-control form-control-sm' }
        .text-secondary.small.mt-2.mb-2
          =link_to('[add client/tag]', '#', id: 'add_client', class: 'badge badge-pill badge-light text-secondary')
        #clients_publications_tags
          -if @data_set.persisted?
            -@data_set.client_publication_tags.each do |row|
              -u_id = SecureRandom.hex(3)
              .row.mb-1{ id: u_id }
                .col-4.pr-1
                  =f.collection_select :client_id, Client.where(hidden_for_story_type: false).sort_by(&:name), :id, :name,
                                       { include_blank: true, selected: row.client.id },
                                       { id: "data_set_default_#{u_id}_client_id", name: "default_props[client_tag_ids[#{u_id}[client_id]]]", class: 'form-control form-control-sm clients_select', required: true }
                .col-4.pr-1
                  =f.collection_select :publication_id, Publication.where(name: ['all local publications', 'all statewide publications', 'all publications']) + row.client.publications.sort_by(&:name), :id, :name,
                                       { include_blank: true, selected: row.publication ? row.publication.id : Publication.where(name: 'all publications').first.id },
                                       { id: "data_set_default_#{u_id}_publication_id", name: "default_props[client_tag_ids[#{u_id}[publication_id]]]", class: 'form-control form-control-sm publications_select' }

                .col-3.pl-1.pr-1
                  =f.select :tag_id, grouped_options_for_select(tags_for_publication(row.publication, row.client), row.tag.id), {}, { include_blank: true, id: "data_set_default_#{u_id}_tag_id", name: "default_props[client_tag_ids[#{u_id}[tag_id]]]",
                                                                 class: 'form-control form-control-sm tags_select', required: true }

                .col-1.pl-1.my-auto
                  %strong.remove_x
                    x

        -if @data_set.persisted?
          .small
            %hr/
            #includedTablesToDataSet
              =render partial: 'table_locations/table_location', collection: @data_set.table_locations, locals: { model: 'DataSet'}
            :javascript
              function addRemoveMarginToTables() {
                let tables = document.querySelector('#includedTablesToDataSet');
                if(tables.textContent.trim() === '') {
                  tables.classList.remove('mb-2');
                } else {
                  tables.classList.add('mb-2');
                }
              }
              addRemoveMarginToTables();

              function excludeTableLocationFromDataSet(event, table_id) {
                event.preventDefault();
                Rails.ajax({
                  type: "DELETE",
                  dataType: 'json',
                  url: `/api/table_locations/${table_id}?model=DataSet&model_id=#{@data_set.id}`,
                  success: (data) => {
                    if(data['not_deleted']) return false;
                    document.querySelector(`#includedTablesToDataSet .table-location-${table_id}`).remove();
                    addRemoveMarginToTables();
                  }
                });
              }
            #addTablesToDataSet
              .form-loader-button
                =link_to('[ add tables ]', new_table_location_path(model: 'DataSet', model_id: @data_set.id), onclick: 'showTablesSpinner()', remote: true)
                .loadingSpinner.d-none
                  .spinner-border.spinner-border-sm.text-secondary
                    %span.sr-only
                :javascript
                  function showTablesSpinner() {
                    document.querySelector('#addTablesToDataSet .loadingSpinner').classList.remove('d-none');
                    document.querySelector('#addTablesToDataSet a').classList.add('d-none');
                  }
              .form
            %hr/


    %hr.mb-2/
    .text-center
      =f.submit @data_set.new_record? ? 'create' : 'update',
                class: 'btn btn-sm btn-outline-dark mt-2', data: { disable_with: "..." }
      -if @data_set.new_record?
        -if !controller_name.eql?('scrape_tasks')
          =link_to('cancel', '#dataSetForm', 'aria-controls' => 'data_set_form',
                   'aria-expanded' => false, data: { toggle: "collapse", target: "#dataSetForm" },
                   type: "button", id: '#crt_upd_data_set_btn', class: 'btn btn-sm btn-outline-dark mt-2')
        -else
          =link_to('cancel', '#', class: 'mt-2 ml-auto btn btn-sm btn-outline-secondary', 'data-dismiss' => 'modal',)
      -else
        =link_to 'cancel', data_set_path(@data_set), class: 'btn btn-sm btn-outline-dark mt-2'

=javascript_pack_tag 'data_sets/form'
