-sow_template = 'https://docs.google.com/document/d/1XGBr8mitj6Ui4uTXiCZnevLx7F-5R0Ru0ZNkBLvXpWI/edit'

=form_with(url: api_work_request_path(work_request), method: :patch) do |f|
  %div{ class: "sow-default#{work_request.id}" }
    =f.check_box "work_request[sow_#{work_request.id}[default]]",
                 onchange: "sowLinkFieldSwitcher#{work_request.id}(this)", checked: work_request.default_sow
    =f.label "work_request[sow_#{work_request.id}[default]]", 'SOW not ready yet'
  %div{ class: "default-link#{work_request.id} #{work_request.default_sow ? '' : 'd-none'}" }
    =link_to('SOW template', sow_template, target: '_blank', rel: 'noopener noreferrer')
  %div{ class: "sow-link#{work_request.id}" }
    =f.text_field "work_request[sow_#{work_request.id}[link]]", class: 'form-control form-control-sm w-75',
                  value: work_request.sow, disabled: work_request.default_sow, readonly: work_request.default_sow
    %span.small.text-danger
      ***link to Google Doc or Spreadsheet
  .mouse-hover{ onclick: 'typeOfWorkByArrowClick();' }
    =icon('fa', 'sign-in')

:javascript
  function sowLinFieldSwitcher#{work_request.id}(check_box) {
    let sowTemplateLink = document.querySelector('.sow-link#{work_request.id}');
    let defaultSow = document.querySelector('.default-sow#{work_request.id}');

    if(check_box.checked) {
      sowTemplateLink.classList.add('d-none');
      defaultSow.classList.remove('d-none');
    } else {
      sowLink.classList.remove('d-none');
      defaultSow.classList.add('d-none');
    }
  }

  function typeOfWorkByEnterPress(event, input) {
    if(event.keyCode !== 13 || input.value.trim().length === 0) return false;

    postTypeOfWorkIfNotExist(input);
  }

  function typeOfWorkByArrowClick() {
    let input = document.querySelector('#workTypes input.underline-input');

    if(input.value.trim().length === 0) return false;

    postTypeOfWorkIfNotExist(input);
  }

  function postTypeOfWorkIfNotExist(input) {
    let spinner = document.querySelector('#workTypes .loadingSpinner');

    spinner.classList.remove('d-none');

    Rails.ajax({
      type: "POST",
      dataType: 'script',
      url: `#{find_or_create_api_work_types_path}`,
      data: `type_of_work[name]=${encodeURIComponent(input.value)}`,
      success: (data) => {
        input.value = '';
        spinner.classList.add('d-none');

        if(document.querySelector(`.work-type-${data['work_id']}`)) return false;

        document.querySelector('#workTypes .types').insertAdjacentHTML(
          'beforeend',
          `<div class="row mb-2 align-items-center work-type-${data['work_id']}">
            <div class="col-1 text-right">
              <input name="work_request[tf_work_type__${data['work_id']}]" type="hidden" value="0">
              <input type="checkbox" value="1" name="work_request[tf_work_type__${data['work_id']}]" id="work_request[tf_work_type__${data['work_id']}]" checked>
            </div>
            <div class="col-11 pl-0 text-left">
              <label class="m-0" for="work_request[tf_work_type__${data['work_id']}]">${data['work_name']}</label>
            </div>
          </div>`
        )
      }
    });
  }

