%div{ id: "workRequest", work_request_id: @work_request.id }


%hr/
#workRequestName.text-center
  =link_to("##{@work_request.id} #{@work_request.project_order_name.body}", @work_request)
%hr.mb-0/

.d-flex.justify-content-between.align-items-center.mb-3.small
  .text-secondary
    created by #{@work_request.requester.name}
  .text-secondary
    created at: #{@work_request.created_at}

#workRequestInfo.mt-4.mb-5.small
  .card
    .card-header.p-1
      .d-flex.justify-content-between.align-items-center
        main info
        .d-inline-block
          #workRequestStatus.d-inline-block
            =render 'statuses'
          -if current_account.eql?(@work_request.requester) || (current_account.types & ['manager', 'outside manager']).any?
            .d-inline-block.mr-2.small
              %button{ type: 'button', class: 'p-0 pb-1 btn btn-sm btn-link', 'data-toggle' => "modal", 'data-target' => "#updateWorkRequestModal" }
                [ edit ]
          -if current_account.types.include?('manager')
            .d-inline-block.mr-2.small
              %button{ onclick: 'projectNameChecking();', type: 'button', class: 'p-0 pb-1 btn btn-sm btn-link', 'data-toggle' => "modal", 'data-target' => "#createProjectModal" }
                [ create project ]
    .card-body
      =render 'work_request_info'


#workRequestProjects.mb-5.small
  .card
    .card-header.p-1
      created projects
    .card-body
      -@work_request.projects.order(created_at: :desc).each do |p|
        .row{ class: "task-#{p.id}"}
          .col-1.text-right.pr-0
            .text-danger{ class: "task-delete" }
              -if p.status.name.eql?('deleted')
                deleted
              -else
                =link_to('[ delete ]', '#', onclick: "markTaskAsDeleted(event, this, #{p.id}, #{@delete_status.id})")
                .d-none{ class: "processing" }
                  .loadingSpinner.spinner-border.spinner-border-sm.text-secondary
                    %span.sr-only
          .col-1.text-center.pr-0
            .badge.badge-pill{ class: "status badge-#{status_color(p.status.name)}" }
              =p.status.name
          .col-9
            =link_to(p.title, p, class: 'mr-2')

  :javascript
    function markTaskAsDeleted(event, link, task_id, status_id) {
      event.preventDefault();

      let spinner = document.querySelector(`.task-${task_id} .processing`);
      let status = document.querySelector(`.task-${task_id} .status`);

      link.classList.add('d-none');
      spinner.classList.remove('d-none');

      Rails.ajax({
        type: "PATCH",
        dataType: 'json',
        url: `/api/tasks/${task_id}/statuses/${status_id}`,
        success: function (data) {
          spinner.classList.add('d-none');

          if(data['success']) {
            status.innerHTML = 'deleted'
            status.classList.add('badge-dark');
            document.querySelector(`.task-${task_id} .task-delete`).innerHTML = 'deleted';
          } else {
            link.classList.remove('d-none');
          }
        }
      })
    }


#updateWorkRequestModal.modal.fade.pr-0{ "aria-hidden" => "true", "aria-labelledby" => "updateWorkRequestModalLabel",
                                         role: "dialog", tabindex: "-1", 'data-backdrop' => 'static', 'data-keyboard' => 'false' }
  .modal-dialog.modal-dialog-scrollable.modal-dialog-fullscreen
    .modal-content
      .modal-header
        .modal-title#updateWorkRequestModalLabel
          Work Request Updating
        %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
          %span{ "aria-hidden" => "true" } ×
      .modal-body.d-flex
        .preview.overflow-scroll.small.w-55.pt-3.pr-3.pb-3
          =render 'work_request_info_modal'
        .w-45
          .editable.overflow-scroll.pt-3.h-94.pr-2.pb-3
            =render 'edit'
          %hr.m-2/
          .d-flex.align-items-center.justify-content-center.h-5
            =link_to('update', '#', id: 'updateWorkRequestButton', class: 'btn btn-sm btn-secondary')
            .mr-1.ml-1
            .btn.btn-sm.btn-outline-secondary{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
              cancel

:javascript
  document.querySelector('#updateWorkRequestButton').addEventListener('click', (event) => {
    event.preventDefault();

    event.target.disabled = true;
    event.target.innerText = '...';

    document.querySelector('#hiddenUpdateButton').click();
  }, false);

  $('#updateWorkRequestModal').on('hidden.bs.modal', () => {
    let button = document.querySelector('#updateWorkRequestButton');

    button.classList.remove('disabled');
    button.innerText = 'update';
  });

-if (current_account.types & ['manager', 'outside manager']).any?
  #createProjectModal.modal.fade.pr-0{ "aria-hidden" => "true", "aria-labelledby" => "createProjectModalLabel",
                                        role: "dialog", tabindex: "-1" }
    .modal-dialog.modal-dialog-scrollable.modal-dialog-fullscreen
      .modal-content
        .modal-header
          .modal-title#createProjectModalLabel
            New Project
          %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
            %span{ "aria-hidden" => "true" } ×
        .modal-body.d-flex
          .preview.overflow-scroll.small.w-50.pt-3.pr-3.pb-3
            =render 'work_request_info_modal'
          .w-50
            .editable.overflow-scroll.h-94.pr-2.pb-3.pl-2
              =render 'tasks/project_form'
            %hr.m-2/
            .d-flex.align-items-center.justify-content-center.h-5
              =button_tag('create', id: 'createProjectButton', class: 'btn btn-sm btn-secondary disabled')
              .mr-1.ml-1
              .btn.btn-sm.btn-outline-secondary{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
                cancel
  :javascript
    document.querySelector('#newProjectName').value = '#{@work_request.project_order_name.body}';

    (() => {
      let button = document.querySelector('#createProjectButton');

      button.addEventListener('click', (event) => {
        event.preventDefault();

        document.querySelector('#hiddenCreateProjectButton').click();
      }, false);
    })();
