<% if flash.now[:message] %>
  $(`#story_type_scheduler_<%= @iteration.id %> .flash`).html(
    `<div class="alert alert-<%= schedules_alert(flash.now[:message]) %> text-center">
        <%= flash.now[:message].gsub('`', "'") %>
    </div>`
  )
<% end %>

$('#scheduler_section').html('<%= j render 'story_types/main/scheduler_section' %>');
$('#samples_control').html('<%= j render 'story_types/samples/samples_control' %>')
$('#export_section').empty();
