%div{ id: "data_set", data_set_id: @story_type.data_set.id }
%div{ id: "story_type", story_type_id: @story_type.id, iteration_id: @iteration.id }

%hr
.row
  .col-12.text-center
    #story_type_name
      =link_to(story_type_path(@story_type)) do
        %b ##{@story_type.id} #{@story_type.name}
%hr/

.row
  .col-10
    #story_type_iterations
      =render partial: 'story_types/iterations/iteration',
              collection: @story_type.iterations.where(cron_tab: [nil, false]),
              current_iteration: @story_type.iteration

      .badge.badge-pill.badge-light{'data-container' => 'body',
                                    'data-toggle' => 'popover',
                                    'data-placement' => 'top',
                                    'data-html' => 'true',
                                    'data-content' => "#{ render 'story_types/iterations/new_form' }" }
        new iteration
  .col-2.text-right
    #story_type_status
      =render 'story_types/progress_statuses/status'
%hr/

.d-flex.justify-content-between.align-items-center.mb-3.small.mt-n3
  .text-secondary
    created by #{@story_type.editor&.name}
  .text-secondary
    created at: #{@story_type.created_at}

.row.small.justify-content-md-center.justify-content-lg-start.mx-0
  #story_type_template.col-lg-6.col-md-12.card.p-0.my-2
    .card-header.d-flex.justify-content-between.align-items-center
      TEMPLATE
      -#TODO: if this is correct implementation of user permissions?
      -if current_account_permissions('story_types')['edit']
        =button_to('Edit', edit_story_type_template_path(@story_type, @story_type.template), method: :get, remote: true)
    #template_preview.h-100
      .card-body.h-100.d-flex.flex-column.justify-content-between
        =render 'story_types/main/template'

  #story_type_properties.col-lg-6.col-md-12.card.p-0.my-2
    .card-header.d-flex.justify-content-between.align-items-center
      PROPERTIES
      -#TODO: if this is correct implementation of user permissions?
      -if current_account_permissions('story_types')['edit']
        =button_to('Edit', story_type_property_form_path(@story_type), method: :get, remote: true,
                   data: { toggle: 'modal', target: '#storyTypePropertiesForm' })
    #properties.h-100
      .flash
      .card-body.d-flex.flex-column
        =render 'story_types/properties/properties'

.row.small.justify-content-md-center.justify-content-lg-start.mx-0
  #story_type_staging_table.col-lg-6.col-md-12.card.p-0.my-2
    .card-header.d-flex.justify-content-between.align-items-center
      STAGING TABLE
      -if @iteration.population.eql?(true) && !@iteration.schedule.eql?(true)
        =link_to('purge current iteration', purge_story_type_iteration_path(@story_type, @iteration),
                 class: 'btn btn-sm btn-outline-danger', method: :delete,  remote: true,
                 data: { confirm: 'PURGE CURRENT ITERATION: You sure?' })
    #staging_table.h-100
      .flash
      .card-body.d-flex.flex-column
        =render 'story_types/staging_tables/staging_table'

  -if @iteration.population
    #story_type_samples.col-lg-6.col-md-12.card.p-0.my-2
      .card-header.d-flex.justify-content-between.align-items-center
        SAMPLES (iteration: #{@iteration.name})
        -if @iteration.creation && !@iteration.schedule.eql?(true) && has_created_stories?(@iteration)
          =render 'story_types/samples/purge_stories'
      #samples
        .flash
        .card-body.d-flex.flex-column
          =render 'story_types/samples/samples'

.row.small.justify-content-md-center.justify-content-lg-start.mx-0
  -if @iteration.creation
    #story_type_scheduler.col-lg-6.col-md-12.card.p-0.my-2
      .card-header.d-flex.justify-content-between.align-items-center
        SCHEDULER (iteration: #{@iteration.name})
        #scheduler_control
          =render 'story_types/schedules/scheduler_control'
      #scheduler
        .flash
        .card-body.d-flex.flex-column.text-center
          =render 'story_types/schedules/scheduler'

  -if @iteration.schedule
    #story_type_export.col-lg-6.col-md-12.card.p-0.my-2
      .card-header.d-flex.justify-content-between.align-items-center
        EXPORT (iteration: #{@iteration.name})
        #export_control
          =render 'story_types/exports/export_control'
      #export
        .flash
        .card-body.d-flex.flex-column.text-center
          =render 'story_types/exports/export'
%hr.mb-5/
=render 'story_types/main/template_modal'
