%div{ id: "data_set", data_set_id: @story_type.data_set.id }
%div{ id: "story_type", story_type_id: @story_type.id, iteration_id: @iteration.id }

%hr
.row
  .col-12.text-center
    #story_type_name
      =link_to(story_type_path(@story_type)) do
        %b ##{@story_type.id} #{@story_type.name}
%hr/

.row
  .col-10
    #story_type_iterations
      =render partial: 'story_types/iterations/iteration',
              collection: @story_type.iterations.where(cron_tab: [nil, false]),
              current_iteration: @story_type.iteration

      .badge.badge-pill.badge-light{'data-container' => 'body',
                                    'data-toggle' => 'popover',
                                    'data-placement' => 'top',
                                    'data-html' => 'true',
                                    'data-content' => "#{ render 'story_types/iterations/new_form' }" }
        new iteration
  .col-2.text-right
    #story_type_status
      =render 'story_types/progress_statuses/status'
%hr/

.d-flex.justify-content-between.align-items-center.mb-3.small.mt-n3
  .text-secondary
    created by #{@story_type.editor&.name}
  .text-secondary
    created at: #{@story_type.created_at}

.row.mb-2
  #story_type_template.col.card.small.p-0.ml-3.mr-3
    .card-header.d-flex.justify-content-between.align-items-center
      TEMPLATE
      =button_to('Edit', edit_story_type_template_path(@story_type, @story_type.template), method: :get, remote: true)
    #template_preview.h-100
      .card-body.small
        =render 'story_types/main/template'

  #story_type_properties.col.card.small.p-0.ml-3.mr-3
    .card-header.d-flex.justify-content-between.align-items-center
      PROPERTIES
      =button_to('Edit', story_type_property_form_path(@story_type), method: :get, remote: true,
                 data: { toggle: 'modal', target: '#storyTypePropertiesForm' })
    #properties.h-100
      .flash
      .card-body.h-100.d-flex.flex-column
        =render 'story_types/properties/properties'

.row.mb-2
  #story_type_staging_table.col.card.small.p-0.ml-3.mr-3
    .card-header.d-flex.justify-content-between.align-items-center
      STAGING TABLE
      -# -if @iteration.population.eql?(true) && !@iteration.schedule.eql?(true)
      =link_to('purge current iteration', purge_story_type_iteration_path(@story_type, @iteration),
                          class: 'btn btn-sm btn-outline-danger', method: :delete,  remote: true,
                          data: { confirm: 'PURGE CURRENT ITERATION: You sure?' })
    #staging_table.h-100
      .flash
      .card-body.h-100
        =render 'story_types/staging_tables/staging_table'
  .col
    %div.accordion{id: "story_type_samples_#{@iteration.id}"}
      .card
        .card-header
          %div.text-center{"aria-controls" => "#samles", "aria-expanded" => "false", "data-target" => "#samples", "data-toggle" => "collapse", type: "button"}
            samples (iteration: #{@iteration.name})
        #samples.collapse.show{"data-parent" => "#story_type_samples_#{@iteration.id}"}
          .flash
          .card-body
            =render 'story_types/samples/samples'

.row
  .col
    %div.accordion{id: "story_type_scheduler_#{@iteration.id}"}
      .card
        .card-header
          %div.text-center{"aria-controls" => "#scheduler", "aria-expanded" => "false", "data-target" => "#scheduler", "data-toggle" => "collapse", type: "button"}
            scheduler (iteration: #{@iteration.name})
        #scheduler.collapse.show{"data-parent" => "#story_type_scheduler_#{@iteration.id}"}
          .flash
          .card-body
            =render 'story_types/schedules/scheduler'

  .col
    %div.accordion{id: "story_type_export_#{@iteration.id}"}
      .card
        .card-header
          %div.text-center{"aria-controls" => "#export", "aria-expanded" => "false", "data-target" => "#export", "data-toggle" => "collapse", type: "button"}
            export (iteration: #{@iteration.name})
        #export.collapse.show{"data-parent" => "#story_type_export_#{@iteration.id}"}
          .flash
          .card-body.small
            =render 'story_types/exports/export'
%hr.mb-5/
=render 'story_types/main/template_modal'
