<% if flash.now[:message] %>
  console.log($(`#story_type_scheduler_<%= @story_type.iteration.id %> .flash`))
  $(`#story_type_scheduler_<%= @story_type.iteration.id %> .flash`).html(
    `<div class="alert alert-<%= schedules_alert(flash.now[:message]) %> text-center">
        <%= flash.now[:message].gsub('`', "'") %>
    </div>`
  )
<% end %>

$('#story_type_scheduler_<%= @story_type.iteration.id %> .card-body').html('<%= j render 'schedules/scheduler' %>');
