-(1..5).each do |n|
  .card.mb-3
    .card-header.p-1
      -assoc = @request.public_send("template_#{n}_assoc")&.body
      -if assoc.present?
        Template #{n} associated with
        %span.font-weight-bold
          #{assoc}
      -else
        Template #{n}
    .card-body
      .row
        .col-10.offset-1
          =@request.public_send("template_#{n}_body")&.body&.html_safe
