<hr class="mt-0">

<%= form_with(url: scrape_task_tags_path(@scrape_task), method: :patch, html: { class: 'ml-3', onkeypress: "return event.keyCode !== 13;" } ) do |f| %>
  <div class="form-group form-check mb-2">
    <% @scrape_task.tags.each do |t| %>
      <%= f.check_box "tags[#{t.name}]", class: 'form-check-input', checked: true  %>
      <%= f.label "tags[#{t.name}]", t.name, class: 'form-check-label' %>
      <br/>
    <% end %>
  </div>

  <div id="tagInputBlock" class="d-flex mb-2">
    <span>ADD: </span>
    <div class="form-group mb-0">
      <input class="underline-input pt-0" list='tagsDataList'>
      <datalist id="tagsDataList">
        <% ScrapeTaskTag.order(:name).all.each do |tag| %>
          <option value="<%= tag.name %>"></option>
        <% end %>
      </datalist>

      <div class="small"> *** press enter </div>
    </div>
  </div>

  <%= f.submit '[ save ]', class: 'btn btn-sm btn-link p-0' %>
  <%= link_to('[ cancel ]', scrape_task_tags_path, class: 'btn btn-sm btn-link text-secondary p-0', remote: true) %>
<% end %>

<hr class="mb-0">

<%= javascript_pack_tag 'scrape_tasks/tags/form' %>
