-if %w[show update canceling_edit change_data_set].include?(action_name)
  .text-center.small{id: "story_type_#{story_type.id}"}
    .row
      .col-sm-1.col-lg-1
        =story_type.id
      .col-sm-4.col-lg-5.pl-0.text-left{id: "story_type_#{story_type.id}_name"}
        .row
          .col-11.pr-0
            -if current_account.types.include?('editor')
              =story_type.name
            -else
              =link_to(story_type.name, story_type_path(story_type))
          .col-1.p-0.text-center
            =link_to(icon('fas', 'pen', class: ' fa-xs text-dark'), edit_story_type_path(story_type), remote: true)
      .col-sm-1.col-lg-1.p-0{id: "story_type_#{story_type.id}_template"}
        =link_to(icon('far', 'file', class: 'fa-lg text-dark'), edit_story_type_template_path(story_type, story_type.template), remote: true)
      .col-sm-1.col-lg-1.p-0{id: "story_type_#{story_type.id}_properties"}
        =link_to(icon('fas', 'sliders-h', class: 'fa-lg text-dark'), story_type_properties_form_path(story_type), remote: true)
      .col-sm-2.col-lg-2.p-0
        -if story_type.developer
          =render 'developers/developer', story_type: story_type
        -else
          =render 'developers/form', story_type: story_type
      .col-sm-2.col-lg-1.p-0
        =story_type.status.name
      .col-sm-1.col-lg-1.p-0{id: "story_type_#{story_type.id}_last_export"}
        -if story_type.last_export
          =story_type.last_export.strftime('%D')
        -else
          :escaped
            ---
    %hr/
-else
  .text-center{id: "story_type_#{story_type.id}"}
    .row
      .col-1
        =story_type.id
      .col-6.pl-0.text-left{id: "story_type_#{story_type.id}_name"}
        .row
          .col-12.pr-0
            =link_to(story_type.name, story_type_path(story_type))
      .col-3.p-0
        =story_type.developer ? story_type.developer.name : '---'
      .col-1.p-0
        =story_type.status.name
      .col-1.p-0{id: "story_type_#{story_type.id}_last_export"}
        -if story_type.last_export
          =story_type.last_export.strftime('%D')
        -else
          :escaped
              ---
    %hr/
