#dates-and-status
  = render 'stories/dates'
  %br
  = render 'stories/status'
%br
#data-locations
  = render 'data_locations/select_form'
  = render 'data_locations/story_data_locations'
%br/
#frequency
  - if @story.frequencies.present?
    = render 'frequencies/story_frequency'
  - else
    = render 'frequencies/form'
%br/
#level
  - if @story.levels.present?
    = render 'levels/story_level'
  - else
    = render 'levels/form'
%br/
#clients
  = render 'clients/form'
  = render 'clients/story_clients'
%br/
#sections
  = render 'sections/form'
  = render 'sections/story_sections'
%br/
#tags
  = render 'tags/form'
  = render 'tags/story_tags'
%br/
#photo-bucket
  - if @story.photo_buckets.present?
    = render 'photo_buckets/story_photo_bucket'
  - else
    = render 'photo_buckets/form'
%br/