= form_with(model: @story) do |form|
  .div.field
    = form.label          :name
    %br/
    = form.text_field     :name
    %br/
    %div{"data-controller" => "summernote"}
      = form.label :body
      = form.text_area :body, data: { editor: 'summernote' }
    %br/
    = form.label          :description
    %br/
    = form.text_area      :description
    .row
      .col-3
        = form.label          :deadline
        %br/
        = form.date_field     :deadline
      .col-3
        = form.label          :desired_launch
        %br/
        = form.date_field     :desired_launch
      .col-3
        = form.label          :last_launch
        %br/
        = form.date_field     :last_launch
      .col-3
        = form.label          :last_export
        %br/
        = form.date_field     :last_export
    %br/

    - if action_name.eql?('show')
      .row
        .col-2
          = form.label  :status
          = form.select :status, statuses, prompt: true
    = form.submit action_name.eql?('show') ? :update : :create
