= form_with(url: stories_path, method: :get, local: true, html: { class: 'd-inline' }) do |form|
  = form.label :writer
  = form.collection_select :writer, User.all, :id, :name, prompt: true
  = form.label :developer
  = form.collection_select :developer, User.all, :id, :name, prompt: true
  = form.label :client
  = form.collection_select :client, Client.all, :id, :name, prompt: true
  = form.label :level
  = form.collection_select :level, Level.all, :id, :name, prompt: true
  = form.label :frequency
  = form.collection_select :frequency, Frequency.all, :id, :name, prompt: true
  = form.label :dev_status
  = form.select :dev_status, dev_statuses, prompt: true
  = form.submit 'Find', class: 'btn btn-sm btn-success'

#reset.d-inline
  = link_to('Reset', stories_path, class: 'btn btn-sm btn-success')