= form_with(model: @story, html: { onchange: 'this.submit();' }) do |form|
  .div.field
    = form.label          :headline
    %br/
    = form.text_field     :headline
    %br/
    = form.label          :body
    %br/
    = form.rich_text_area :body
    %br/
    = form.label          :description
    %br/
    = form.text_field     :description
    %hr/
    .row
      .col-3
        = form.label          :deadline
        %br/
        = form.date_field     :deadline
      .col-3
        = form.label          :desired_launch
        %br/
        = form.date_field     :desired_launch
      .col-3
        = form.label          :last_launch
        %br/
        = form.date_field     :last_launch
      .col-3
        = form.label          :last_export
        %br/
        = form.date_field     :last_export
    %hr/
    .row
      .col-2
        = form.label  'Status'
        = form.select :status, statuses