<% if flash.now[:message] %>
  $(`#story_type_samples_<%= @iteration.id %> .flash`).html(
    `<div class="alert alert-<%= samples_alert(flash.now[:message]) %> text-center">
        <%= flash.now[:message].gsub('`', "'") %>
    </div>`
  )
<% end %>
$(`#story_type_samples_<%= @iteration.id %> .card-body`).empty();
$(`#story_type_samples_<%= @iteration.id %> .card-body`).html('<%= j render 'stories/samples' %>')
