%section#edit-template
  = render 'stories/edit_template'
%hr/

%section#show-template
  = render 'stories/show_template'
%hr/

%section#staging-table
  - if @story.staging_table.present?
    = render 'staging_tables/columns'
  - else
    = render 'staging_tables/form'
%hr/

%section#code
  - if @story.code.attached?
    = render 'codes/story_code'
  -else
    = render 'codes/form'
  %hr
  #execute
    = link_to('EXECUTE', run_code_story_populations_path(@story), method: :post)