%section#edit-template
  = render 'stories/edit_template'
%hr/

%section#show-template
  = render 'stories/show_template'
%hr/

%section#staging-table
  - if @story.staging_table.present?
    = render 'staging_tables/columns'
  - else
    = render 'staging_tables/form'
%hr/

%section#code
  - if @story.code.attached?
    = render 'upload_codes/story_code'
  -else
    = render 'upload_codes/form'
  #sheduler
  #execute
