= render 'template'
%hr/

-#%secion#data-locations
-#  =render 'data_locations/form'
-#  =render 'data_locations/data_locations'

%section#frequency
  - if @story.frequencies.present?
    = render 'frequencies/frequency'
  - else
    = render 'frequencies/form'
%hr/

%section#level
  - if @story.levels.present?
    = render 'levels/level'
  - else
    = render 'levels/form'
%hr/

%section#clients
  = render 'clients/form'
  = render 'clients/clients'
%hr/

%section#sections
  = render 'sections/form'
  = render 'sections/sections'
%hr/

%section#tags
  = render 'tags/form'
  = render 'tags/tags'
%hr/

%section#photo-bucket
  - if @story.photo_buckets.present?
    = render 'photo_buckets/photo_bucket'
  - else
    = render 'photo_buckets/form'
