%h6.border-bottom.border-dark
  Edit Template
%section#edit-template
  = render 'stories/edit_template'
%hr/

%h6.border-bottom.border-dark
  Show Template
%section#show-template
  = render 'stories/show_template'
%hr/

%h6.border-bottom.border-dark
  Story Configuration
%section#story-configuration
  = render 'stories/config_story'
%hr/

%h6.border-bottom.border-dark
  Story Table
%section#staging-table
  - if @story.staging_table.present?
    = render 'staging_tables/columns'
  - else
    = render 'staging_tables/form'
%hr/

%h6.border-bottom.border-dark
  Story Code Upload
%section#code-file
  - if @story.code.attached?
    = render 'codes/story_code'
  - else
    = render 'codes/form'
  %hr

- if @story.code.attached?
  = render 'codes/execute'