= render 'template'
%hr/

%section#frequency
  - if @story.frequencies.present?
    = render 'frequencies/frequency'
  - else
    = render 'frequencies/form'
%hr/

%section#level
  - if @story.levels.present?
    = render 'levels/level'
  - else
    = render 'levels/form'
%hr/

%section#clients
  = render 'clients/form'
  = render 'clients/clients'
%hr/

= render 'sections/form'
%section#sections
%hr/

= render 'tags/form'
%section#tags
%hr/
