#scrapeTaskStatusComment
  =render 'status_comment'

#scrapeTaskTags
  .row.mb-4
    .col-3.pr-0.text-right.font-weight-bold
      tags:
    .col-9
      .d-inline-block.mr-3{ 'data-toggle' => "collapse", href: "#tagInputBlock", 'aria-expanded' => "false", 'aria-controls' => "tagInputBlock" }
        =icon('fa', 'pencil')
      #tagsList.d-inline-block
        =render partial: 'scrape_tasks/tags/tag', collection: @scrape_task.tags, locals: { display: false }

      #tagInputBlock.collapse
        %input.underline-input{ list: 'tagsDatalist', onkeypress: 'onEnterPostTag(event, this.value);' }
        %datalist#tagsDatalist
          -ScrapeTaskTag.all.each do |tag|
            %option{ value: "#{tag.name}" }
        .d-inline-block.ml-2
          %div.mouse-hover{ onclick: 'onClickPostTag();' }
            =icon('fa', 'paper-plane')

  :javascript
    $('#tagInputBlock').on('shown.bs.collapse', function () {
      document.querySelectorAll('#tagsList a').forEach((e) => { e.classList.remove('d-none') })
      document.querySelector('.tag-input').focus();
    });

    $('#tagInputBlock').on('hidden.bs.collapse', function () {
      document.querySelectorAll('#tagsList a').forEach((e) => { e.classList.add('d-none') })
    });

    function postTag(value) {
      Rails.ajax({
        type: "POST",
        dataType: 'script',
        url: `#{include_scrape_task_tags_path(@scrape_task)}`,
        data: `tag[name]=${encodeURIComponent(value)}`
      });
    }

    function clearInput() {
      document.querySelector("#tagInputBlock input").value = "";
    }

    function onEnterPostTag(event, value) {
      if((event.keyCode !== 13) || (value.trim().length === 0)) {
        return false;
      } else {
        postTag(value);
        clearInput();
      }
    }

    function onClickPostTag() {
      let value = document.querySelector('#tagInputBlock input').value

      if((value.trim().length === 0)) {
        return false;
      } else {
        postTag(value);
        clearInput();
      }
    }



.row.mb-4
  .col-3.pr-0.text-right.font-weight-bold
    name:
  .col-9
    =@scrape_task.name

.row.mb-1
  .col-3.pr-0.text-right.font-weight-bold
    multi tasks:
  .col-9
    -if @scrape_task.tasks.present?
      -@scrape_task.tasks.each do |t|
        -name = t.subtask? ? "S ##{t.id} #{t.title}" : "P ##{t.id} #{t.title}"
        =link_to(name, t)
        %br/
.row.mb-4
  .col-3.pr-0.text-right.font-weight-bold
    gather task:
  .col-9
    -link = @scrape_task.gather_task_link
    -if link
      =link_to(nil, link, target: '_blank')
    -else
      \---

.row.mb-4
  .col-3.pr-0.text-right.font-weight-bold
    deadline:
  .col-9
    =@scrape_task.deadline.to_s

.row.mb-4
  .col-3.pr-0.text-right.font-weight-bold
    state:
  .col-9
    =@scrape_task.state&.name

.row.mb-1
  .col-3.pr-0.text-right.font-weight-bold
    URL:
  .col-9
    -link = @scrape_task.datasource_url
    -if link.present?
      =link_to(nil, link, target: '_blank')
    -else
      \---
.row.mb-4
  .col-3.pr-0.text-right.font-weight-bold
    comment on datasource:
  .col-9
    =@scrape_task.datasource_comment.body&.html_safe

.row.mb-1
  .col-3.pr-0.text-right.font-weight-bold
    scrapable?
  .col-9
    -if @scrape_task.scrapable.eql?(1)
      .font-weight-bold
        yes
    -elsif @scrape_task.scrapable.eql?(0)
      .font-weight-bold
        no
    -else
      not checked

.row.mb-4
  .col-3.pr-0.text-right.font-weight-bold
    comment on scrape ability:
  .col-9
    =@scrape_task.scrape_ability_comment.body&.html_safe

.row.mb-1
  .col-3.pr-0.text-right.font-weight-bold
    scraper:
  .col-9
    =@scrape_task.scraper&.name
.row.mb-4
  .col-3.pr-0.text-right.font-weight-bold
    scrape frequency:
  .col-9
    =@scrape_task.frequency&.name
.row.mb-4
  .col-3.pr-0.text-right.font-weight-bold
    general comment:
  .col-9
    =@scrape_task.general_comment.body&.html_safe

.row.mb-1
  .col-3.pr-0.text-right.font-weight-bold
    table location(s):
    %br/
    -if @scrape_task.table_locations.present?
      =link_to('show data view(s)', '#', "data-target" => "#dataSamplesModal", "data-toggle" => "modal")
  #tableLocations.col-9
    -@scrape_task.table_locations.each do |tl|
      =tl.full_name
      %br/

-if @data_set
  #scrapeTaskDataSetForm
    =render 'data_set'

#dataSamplesModal.p-0.modal.fade{ 'data-backdrop' => "static", "aria-hidden" => "true", "aria-labelledby" => "scrapeTaskDataSamplesLabel" }
  .modal-dialog.modal-dialog-scrollable.modal-fullscreen
    .modal-content
      .modal-header.pb-0
        %ul#dataSampleTabs.nav.nav-tabs.flex-nowrap.overflow-auto.border-0{ style: 'padding: 1px;'}
        %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.pt-0
        .loading.d-flex.justify-content-center.align-items-center{ style: 'width: 100%; height: 100%;'}
          .spinner-border.small{ style: "width: 3rem; height: 3rem;" }
            %span.sr-only
        #dataSampleTabsContent.tab-content
      .modal-footer.d-block

:javascript
  $('#dataSamplesModal').on('show.bs.modal', () => {
      Rails.ajax({
        type: "GET",
        dataType: 'script',
        url: '/data_samples?model=ScrapeTask&model_id=#{@scrape_task.id}',
        success: () => {
          let loading = $('#dataSamplesModal .loading');
          loading.removeClass('d-flex');
          loading.addClass('d-none');
        }
      })
  });

  $('#dataSamplesModal').on('hidden.bs.modal', () => {
    let loading = $('#dataSamplesModal .loading');
    loading.addClass('d-flex');
    loading.removeClass('d-none');

    $('#dataSampleTabs').empty();
    $('#dataSampleTabsContent').empty();
    $('#dataSamplesModal .modal-footer div[class^="data-samples-footer"]').remove();
  });
