=form_with(url: tracking_hours_path, method: 'post') do |form|
  %div{ id: "reports_editable", developer_id: current_account.id, week_id: @week.id }
  .d-flex.justify-content-between
    =form.hidden_field :week, value: @week.id
    #add_row.btn.btn-sm.btn-outline-dark.ml-2 add row
    =form.submit 'submit', class: 'btn btn-sm btn-outline-dark mr-2', id: 'submit'

:javascript
  var reports_block = $("[id='reports_editable'][developer_id=#{current_account.id}][week_id=#{@week.id}]");
  $('#add_row').click(function () {
    let hex = secureRandom(6);

    var typesOfWorks = #{raw WorkType.where(work: 0).order("name in ('Dev Algo work','Scrape Work','G&A Development Services','G&A Management- Human Resources') DESC, name ASC").map{ |type| type.name} };
    var clients = #{raw ClientsReport.order("name in ('Metric Media') DESC, name in ('PLA | Dallas Express','G&A Development Services','Local Government Information Services','The Record') DESC, name ASC").map{ |type| type.name} };
    var max_date = date(#{raw week.end.year}, #{raw week.end.strftime("%m")}, #{raw week.end.strftime("%d")});
    var min_date = date(#{raw week.begin.year}, #{raw week.begin.strftime("%m")}, #{raw week.begin.strftime("%d")});

    $(reports_block).append(
        `<div id="report_${hex}" class="row ml-2 mb-2 text-center">
            <input id="report_${hex}_hours" class="col-1" required="required" type="text" name="report[${hex}[hours]]">
            <select class="col-3" id="report_${hex}_type_of_work" name="report[${hex}[type_of_work]]">${buildSelect(typesOfWorks)}</select>
            <select class="col-2" id="report_${hex}_client" name="report[${hex}[client]]">${buildSelect(clients)}</select>
            <input id="report_${hex}_date" class="col-2" required="required" type="date" max="${max_date}" min="${min_date}" name="report[${hex}[date]]">
            <input id="report_${hex}_comment" class="col-3" type="text" name="report[${hex}[comment]]">
            <div class="remove_report col-1" id="rm_report_${hex}" onclick="removeDate(this)"><i class="fas fa-minus"></i></div>
        </div>`
    );
  });

  function date(year, month, day){
    return year + '-' + ('0' + month).slice(-2) + '-' + ('0' + day).slice(-2);
  }

  function secureRandom(n){
    let result = '';
    while (n--){
      result += Math.floor(Math.random() * 16).toString(16);
    }
    return result;
  }

  function removeDate(elem) {
    $(elem.parentNode).remove();
  }

  function buildSelect(options) {
    var $select = $('');

    for (var i = 0; i < options.length; i++) {
      $select += ('<option value="' + options[i] + '">' + options[i] + '</option>');
    }
    return $select;
  }
