-if %w[show update canceling_edit change_data_set].include?(action_name)
  .text-center.small{ id: "factoid_type_#{factoid_type.id}" }
    .row.on-hover-bg.pt-2.pb-2
      .col-1
        =factoid_type.id
      .col-5.pl-0.text-left{id: "factoid_type_#{factoid_type.id}_name"}
        .row
          .col-11.pr-0
            =link_to(factoid_type.name, factoid_type_path(factoid_type))
          .col-1.p-0.text-center
            =link_to(icon('fa', 'pencil', class: ' fa-xs text-dark'), edit_factoid_type_path(factoid_type), remote: true)
      .col-1.p-0{id: "factoid_type_#{factoid_type.id}_template"}
        =link_to(icon('fa', 'file-o', class: 'fa-lg text-dark'), edit_factoid_type_template_path(factoid_type, factoid_type.template), remote: true)
      .col-3
        -if factoid_type.developer
          =render 'factoid_types/developers/developer', factoid_type: factoid_type
        -else
          =render 'factoid_types/developers/form', factoid_type: factoid_type
      .col-2.p-0
        =factoid_type.status.name
-else
  .text-center{id: "factoid_type_#{factoid_type.id}"}
    .row
      .col-1
        =factoid_type.id
      .col-6.pl-0.text-left{id: "factoid_type_#{factoid_type.id}_name"}
        .row
          .col-12.pr-0
            =link_to(factoid_type.name, factoid_type_path(factoid_type))
      .col-3.p-0
        =factoid_type.developer ? factoid_type.developer.name : '---'
      .col-1.p-0
        =factoid_type.status.name
      .col-1.p-0{id: "factoid_type_#{factoid_type.id}_last_export"}
        -if factoid_type.last_export
          =factoid_type.last_export.strftime('%D')
        -else
          :escaped
              ---
    %hr/
