%div{ id: "data_set", data_set_id: @factoid_type.data_set.id }
%div{ id: "factoid_type", factoid_type_id: @factoid_type.id }
-@title = "#{@factoid_type.id} #{@factoid_type.name}"
%hr
.row
  .col-12.text-center
    #factoid_type_name
      %b ##{@factoid_type.id} #{@factoid_type.name}
%hr/

%nav{ 'area-label' => 'breadcrumb' }
  %ov.breadcrumb
    %li.breadcrumb-item
      =link_to('home', root_url)
    %li.breadcrumb-item.active{ 'area-current' => 'page' }
      factoid type
%hr/

.row
  .col-10
    #factoid_type_iterations
      =render partial: 'factoid_types/iterations/iteration',
              collection: @factoid_type.iterations,
              current_iteration: @factoid_type.iteration

      .badge.badge-pill.badge-light{'data-container' => 'body',
                                    'data-toggle' => 'popover',
                                    'data-placement' => 'top',
                                    'data-html' => 'true',
                                    'data-content' => "#{ render 'factoid_types/iterations/new_form' }" }
        new iteration
  .col-2.text-right
    #factoid_type_status
      =render 'factoid_types/progress_statuses/status'
%hr/

#factoid_type_template.accordion
  .card.small
    .card-header
      %div.text-center{ "aria-controls" => "#template_preview", "aria-expanded" => "true",
                        "data-target" => "#template_preview", "data-toggle" => "collapse", type: "button" }
        template
    #template_preview.collapse.show{"data-parent" => "#factoid_type_template"}
      .card-body.small
        =render 'factoid_types/main/template'

#factoid_type_properties.accordion
  .card
    .card-header
      %div.text-center{"aria-controls" => "#properties", "aria-expanded" => "false", "data-target" => "#properties", "data-toggle" => "collapse", type: "button"}
        properties
    #properties.collapse.show{"data-parent" => "#factoid_type_properties"}
      .flash
      .card-body
        =render 'factoid_types/main/properties'

-if @iteration.eql?(@factoid_type.iteration)
  #factoid_type_staging_table.accordion
    .card
      .card-header
        %div.text-center{"aria-controls" => "#staging_table", "aria-expanded" => "false", "data-target" => "#staging_table", "data-toggle" => "collapse", type: "button"}
          staging table
      #staging_table.collapse.show{"data-parent" => "#factoid_type_staging_table"}
        .flash
        .card-body
          =render 'factoid_types/staging_tables/staging_table'

%div.accordion{id: "factoid_type_samples_#{@iteration.id}"}
  .card
    .card-header
      %div.text-center{"aria-controls" => "#samles", "aria-expanded" => "false", "data-target" => "#samples", "data-toggle" => "collapse", type: "button"}
        samples (iteration: #{@iteration.name})
    #samples.collapse.show{"data-parent" => "#factoid_type_samples_#{@iteration.id}"}
      .flash
      .card-body
        =render 'factoid_types/samples/samples'

%div.accordion{id: "factoid_type_export_#{@iteration.id}"}
  .card
    .card-header
      %div.text-center{"aria-controls" => "#export", "aria-expanded" => "false", "data-target" => "#export", "data-toggle" => "collapse", type: "button"}
        export (iteration: #{@iteration.name})
    #export.collapse.show{"data-parent" => "#factoid_type_export_#{@iteration.id}"}
      .flash
      .card-body.small
        =render 'factoid_types/publishes/publish'
%hr.mb-5/
-# =render 'story_types/main/template_modal'
