%div{ id: "data_set", data_set_id: @factoid_type.data_set.id }
%div{ id: "factoid_type", factoid_type_id: @factoid_type.id }
-@title = "#{@factoid_type.id} #{@factoid_type.name}"
%hr
.row
  .col-12.text-center
    #factoid_type_name
      =link_to(factoid_type_path(@factoid_type)) do
        %b ##{@factoid_type.id} #{@factoid_type.name}
%hr/

.row
  .col-10
    #factoid_type_iterations.d-inline
      =render partial: 'factoid_types/iterations/iteration',
              collection: @factoid_type.iterations,
              current_iteration: @factoid_type.iteration
    #new_factoid_type_iteration.d-inline
      =render 'factoid_types/iterations/new_iteration'
  .col-2.text-right
    #factoid_type_status
      =render 'factoid_types/progress_statuses/status'
%hr/

.d-flex.justify-content-between.align-items-center.mb-3.small.mt-n3
  .text-secondary
    created by #{@factoid_type.editor&.name}
  .text-secondary
    created at: #{@factoid_type.created_at}

.row.small.justify-content-md-center.justify-content-lg-start.mx-0
  #template_section.col-lg-6.col-md-12.my-2
    =render 'factoid_types/main/template_section'
  #properties_section.col-lg-6.col-md-12.my-2
    =render 'factoid_types/main/properties_section'

-if @iteration.eql?(@factoid_type.iteration)
  #factoid_type_staging_table.accordion
    .card
      .card-header
        %div.text-center{"aria-controls" => "#staging_table", "aria-expanded" => "false", "data-target" => "#staging_table", "data-toggle" => "collapse", type: "button"}
          staging table
      #staging_table.collapse.show{"data-parent" => "#factoid_type_staging_table"}
        .flash
        .card-body
          =render 'factoid_types/staging_tables/staging_table'

%div.accordion{id: "factoid_type_samples_#{@iteration.id}"}
  .card
    .card-header
      %div.text-center{"aria-controls" => "#samles", "aria-expanded" => "false", "data-target" => "#samples", "data-toggle" => "collapse", type: "button"}
        samples (iteration: #{@iteration.name})
    #samples.collapse.show{"data-parent" => "#factoid_type_samples_#{@iteration.id}"}
      .flash
      .card-body
        =render 'factoid_types/samples/samples'

%div.accordion{id: "factoid_type_export_#{@iteration.id}"}
  .card
    .card-header
      %div.text-center{"aria-controls" => "#export", "aria-expanded" => "false", "data-target" => "#export", "data-toggle" => "collapse", type: "button"}
        export (iteration: #{@iteration.name})
    #export.collapse.show{"data-parent" => "#factoid_type_export_#{@iteration.id}"}
      .flash
      .card-body.small
        =render 'factoid_types/publishes/publish'
%hr.mb-5/

=render 'factoid_types/main/template_modal'
=render 'factoid_types/codes/modal_ruby_code'
=render 'data_sets/main/modal_data_set'
