-if @iteration.creation
  -articles = @iteration.articles
  -published = articles.published.count
  -ready_to_publish = articles.not_published.count

  -if !@factoid_type.iteration.eql?(@iteration)
    .row
      .col-10.offset-1
        total published: #{published} / #{articles.count}
  -elsif @factoid_type.staging_table && @iteration.creation
    -if @iteration.export.eql?(true) && !@iteration.purge_export.eql?(true)
      .row
        .col-10.offset-1
          total published: #{published} / #{articles.count}
      .row
        .col-10.offset-1
          -if published < articles.count
            =link_to('publish!', execute_article_type_iteration_exports_path(@factoid_type, @iteration),
                     id: 'publish', class: 'mt-3 btn btn-sm btn-outline-dark', method: :post, remote: true)
            .ml-3.d-inline-block
              =link_to('limit', '#', 'aria-controls' => 'limited_export_form',
                       'aria-expanded' => false, data: { toggle: "collapse", target: "#limited_export_form" },
                       type: "button", class: 'mt-3 btn btn-sm btn-outline-danger', onclick: 'disablePublishBtn();')
      =render 'article_types/publishes/limited_export_section'
      -if published > 0
        .row
          .col-5.offset-1.mt-3
            =link_to('published factoids', articles_article_type_iteration_exports_url(@factoid_type, @iteration),
                   class: 'd-inline-block mr-3 mt-3 btn btn-sm btn-outline-dark', target: '_blank')
            =link_to('remove factoids from limpar',
                     remove_exported_articles_article_type_iteration_exports_path(@factoid_type, @iteration),
                     method: :delete, remote: true, data: { confirm: 'Are you sure?' },
                     class: 'mt-3 btn btn-sm btn-outline-danger')
    -elsif @iteration.export.eql?(false)
      =render 'article_types/spinner', description: 'publish in progress'
    -elsif @iteration.purge_export.eql?(true)
      =render 'article_types/spinner', description: 'removing from Limpar in progress'
    -else
      .row.mb-2
        .col-10.offset-1
          -if published > 0
            total published: #{published} / #{articles.count}
          -else
            ready to publish: #{ready_to_publish}
      .row
        .col-10.offset-1
          =link_to('publish!', execute_article_type_iteration_exports_path(@factoid_type, @iteration),
                  id: 'publish', class: 'mt-3 mr-3 btn btn-sm btn-outline-dark', method: :post, remote: true)
          =link_to('limit', '#', 'aria-controls' => 'limited_export_form',
                   'aria-expanded' => false, data: { toggle: "collapse", target: "#limited_export_form" },
                   type: "button", class: 'mt-3 btn btn-sm btn-outline-danger', onclick: 'disablePublishBtn();')
          -if published > 0
            .row
              .col-5.mt-3
                =link_to('published factoids', articles_article_type_iteration_exports_url(@factoid_type, @iteration),
                       class: 'd-inline-block mr-3 mt-3 btn btn-sm btn-outline-dark', target: '_blank')
                =link_to('remove factoids from limpar',
                         remove_exported_articles_article_type_iteration_exports_path(@factoid_type, @iteration),
                         method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'mt-3 btn btn-sm btn-outline-danger')
      =render 'article_types/publishes/limited_export_section'

:javascript
  function disablePublishBtn() {
    var publish_button = $('a#publish');
    if (publish_button.hasClass('disabled'))
      publish_button.removeClass('disabled')
    else
      publish_button.addClass('disabled')
  }
