-card_selector = card.branch.name.tr(' ', '_')

.col-4.col-lg-3.mb-4{ id: "#{card_selector.camelize(:lower)}Branch" }
  .card{ class: card_selector }
    .card-body{ class: "bg-#{card.enabled ? 'light' : 'white'}" }
      %h5.card-title{ class: "text-#{card.enabled ? 'dark' : 'muted'}" }
        =card.branch.name.upcase
      .card-subtitle.mb-2.text-muted.mb-2
        =card.access_level.name.upcase
      .d-flex.justify-content-between
        .btn-group.btn-group-sm
          -if card.enabled
            .btn.btn-sm{ class: "btn-outline-dark", 'data-toggle' => "modal",
                         'data-target' => "#showPermissions#{card_selector.camelize}" }
              SHOW
            .btn.btn-sm{ class: "btn-outline-dark", 'data-toggle' => "modal",
                         'data-target' => "#configurePermissions#{card_selector.camelize}" }
              CONFIGURE
          -else
            .btn.btn-sm{ class: "btn-outline-secondary disabled" }
              SHOW
            .btn.btn-sm{ class: "btn-outline-secondary disabled" }
              CONFIGURE
        .btn-group.btn-group-sm
          -if card.enabled
            .btn.btn-success.disabled ON
            =link_to('OFF', account_branch_access_level_url(@account, card.branch), method: :delete,
                       remote: true, data: { confirm: "#{@account.name} will lose access to #{card.branch.name}. Are you sure?" },
                       class: 'btn btn-outline-success')

          -else
            =form_with(url: account_branch_access_levels_path(@account),
                       data: { confirm: "#{@account.name} will have access to #{card.branch.name}. Are you sure?" }) do |f|
              =f.hidden_field :branch_id, value: card.branch.id
              =f.submit 'ON', class: 'btn btn-sm btn-outline-secondary'
            .btn.btn-sm.btn-secondary.disabled OFF
    -if card.enabled
      .modal.fade{ id: "showPermissions#{card_selector.camelize}", "aria-hidden" => "true",
                   "aria-labelledby" => "showPermissions#{card_selector.camelize}",
                   'data-backdrop' => 'static', "data-keyboard" => "false" }
        .modal-dialog.modal-dialog-scrollable.modal-lg
          .modal-content
            .modal-header
              PERMISSIONS
              %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
                %span{ "aria-hidden" => "true" } ×
            .modal-body


      .modal.fade{ id: "configurePermissions#{card_selector.camelize}", "aria-hidden" => "true",
                   "aria-labelledby" => "editPermissions#{card_selector.camelize}",
                   'data-backdrop' => 'static', "data-keyboard" => "false" }
        .modal-dialog.modal-dialog-scrollable.modal-lg
          .modal-content
            .modal-header
              UPDATE PERMISSIONS
              %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
                %span{ "aria-hidden" => "true" } ×
            .modal-body
            .modal-footer.justify-content-center
              =link_to('UPDATE', '#', id: 'updateButton', class: 'btn btn-sm btn-dark')
              .btn.btn-sm.btn-outline-secondary{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
                CANCEL
