.col-10.offset-1
  .d-inline.ml-3.mb-2.text-info
    ***if you update columns list, will drop 'story per publication' index and you will need to recreate it.
  .ml-3
    =form_with(model: [@story_type, @staging_table, @staging_table.columns], method: :put) do |form|
      #add_column.mb-2
        =icon('fa', 'plus')
      .row
        #columns_editable.col-12
          -@staging_table.columns.list.each do |hex, column|
            %div{ id: "col_#{hex}", class: 'row no-gutters mb-1' }
              %div.remove_column.d-inline-block.mr-1{ id: "rm_col_#{hex}" }
                =icon('fa', 'minus')
              =form.text_field "#{hex}[name]",
                               { value: column[:name], placeholder: 'name', id: "columns_#{hex}_name", class: 'mx-1' }
              =form.select "#{hex}[type]", options_for_select(data_types, column[:type]), {},
                           { class: 'h_25px mx-1', id: "columns_#{hex}_type" }
              .d-inline-block
                -if %i[string text integer float].include?(column[:type])
                  =form.text_field "#{hex}[options[limit]]", { class: 'w_80px', value: column[:options][:limit],
                                                               placeholder: 'limit', id: "columns_#{hex}_params_limit" }
                -elsif %i[decimal datetime time].include?(column[:type])
                  =form.text_field "#{hex}[options[precision]]", { class: 'w_80px', value: column[:options][:precision],
                                                                   placeholder: 'precision',
                                                                   id: "columns_#{hex}_params_precision" }
                -if column[:type].eql?(:decimal)
                  =form.text_field "#{hex}[options[scale]]", { class: 'w_80px', value: column[:options][:scale],
                                                               placeholder: 'scale', id: "columns_#{hex}_params_scale" }
          =form.submit :update, class: 'btn btn-sm btn-outline-success m-3'
          =link_to('cancel', canceling_edit_story_type_staging_tables_path(@story_type),
                   class: 'btn btn-sm btn-outline-danger m-3', remote: true)

=javascript_pack_tag 'columns/edit_form'
