(function () {
    let flash = $('#staging_table .flash')

    <% if flash.now[:error] %>
      flash.html(`
        <div class="alert alert-danger text-center">
          <%= flash.now[:error].gsub('`', "'") %>
        </div>`
      )
    <% else %>
      flash.empty();
      $('#staging_table .card-body').html('<%= j render 'story_types/staging_tables/staging_table'%>')
    <% end %>
}())
console.log('!!!!!!!!!!!!!!!!!!!!!!!!!!!');
$('#story_type_iterations').html('<%= j render partial: 'story_types/iterations/iteration',
                                               collection: @story_type.iterations.where(cron_tab: [nil, false]),
                                               current_iteration: @story_type.iteration %>');
$('#new_story_type_iteration').empty();
$('#properties_control').html('<%= j render 'story_types/properties/properties_control' %>');
$('#story_type_code').html('<%= j render 'story_types/codes/section' %>');
$('#export_configs').html('<%= j render 'story_types/export_configurations/export_configurations' %>');
