-if @iteration.schedule
  -stories = @iteration.stories.where(backdated: false)
  -exported = stories.where.not("pl_#{PL_TARGET}_story_id".to_sym => nil).count
  -ready_to_export = stories.where("pl_#{PL_TARGET}_story_id".to_sym => nil).count

  -if !@story_type.iteration.eql?(@iteration)
    .row
      .col-10.offset-1
        total exported: #{exported} / #{stories.count}

  -elsif @story_type.staging_table && @iteration.creation && @iteration.schedule

    -if @iteration.export.eql?(true) && !@iteration.purge_export.eql?(true)
      .row
        .col-10.offset-1
          total exported: #{exported} / #{stories.count}
      .row
        .col-10.offset-1
          -if exported < stories.count
            =link_to('extra export!', execute_story_type_iteration_exports_path(@story_type, @iteration),
                     class: 'mt-3 btn btn-sm btn-outline-dark',
                     method: :post, remote: true)
            .ml-3.d-inline-block

          =link_to('exported stories', stories_story_type_iteration_exports_url(@story_type, @iteration),
                   class: 'd-inline-block mr-3 mt-3 btn btn-sm btn-outline-dark', target: '_blank')


          -story = stories.where.not(published_at: nil).order(:published_at).first
          -unless story && story.published_at <= Time.now
            =link_to('remove exported stories', '#', 'aria-controls' => 'remove_exported_stories_form',
                     'aria-expanded' => false, data: { toggle: "collapse", target: "#remove_exported_stories_form" },
                     type: "button", class: 'mt-3 btn btn-sm btn-outline-danger')
      =render 'story_types/exports/remove_exported_stories_section'

    -elsif @iteration.export.eql?(false)
      =render 'story_types/spinner', description: 'export in progress'
    -elsif @iteration.purge_export.eql?(true)
      =render 'story_types/spinner', description: 'removing from PL in progress'
    -else
      .row.mb-2
        .col-10.offset-1
          ready to export: #{ready_to_export}
      .row
        .col-10.offset-1
          =link_to('export!', execute_story_type_iteration_exports_path(@story_type, @iteration),
                   class: 'mt-3 mr-3 btn btn-sm btn-outline-dark',
                   method: :post, remote: true)
          -if exported > 0
            =link_to('remove exported stories', '#', 'aria-controls' => 'remove_exported_stories_form',
                     'aria-expanded' => false, data: { toggle: "collapse", target: "#remove_exported_stories_form" },
                     type: "button", class: 'mt-3 btn btn-sm btn-outline-danger')
      =render 'story_types/exports/remove_exported_stories_section'
