.d-inline-block
  Table name:
  =@story_type.staging_table.name
.btn-group.ml-2
  =link_to('sync', sync_story_type_staging_table_path(@story_type),
            class: 'btn btn-sm btn-outline-dark', method: :put, remote: true)
.btn-group.ml-2
  =link_to('truncate', truncate_story_type_staging_table_path(@story_type),
            class: 'btn btn-sm btn-outline-danger', method: :put,  remote: true)
  =link_to('detach', detach_story_type_staging_table_path(@story_type),
            class: 'btn btn-sm btn-outline-danger', method: :delete, remote: true)
  =link_to('drop', story_type_staging_table_path(@story_type),
            class: 'btn btn-sm btn-outline-danger', method: :delete, remote: true)

%hr/
.row
  #staging_table_columns.col-6.border-right
    -columns = @story_type.staging_table.columns
    -if columns && columns.list.count.positive?
      -columns.list.each do |_id, col|
        %p
          ="#{col[:name]}: #{col[:type]} | #{col[:opts]}"
    -else
      No columns.
      %br/
    .btn-group
      =link_to('edit column list',
               edit_story_type_staging_table_columns_path(@story_type),
               class: 'btn btn-sm btn-outline-dark', remote: true)
  #staging_table_index.col-6.border-left
    -index = @story_type.staging_table.index
    -if index && index.list.present?
      -puts index
      ="#{index.list[:name]}: (#{index.list[:columns].join(', ')})"
    -else
      No index.
      %br/
    .btn-group
      =link_to("edit 'story per publication' index",
               edit_story_type_staging_table_index_path(@story_type),
               class: 'btn btn-sm btn-outline-dark', remote: true)