= form_with(model: [@story, (@story.staging_table || @story.build_staging_table)] ) do |form|
  = form.label :table_name
  = form.text_field :name
  %div#columns-editable
    %div{id: 'column-1'}
      = form.label :column_1
      = form.text_field 'column_name_1'
      = form.label :data_type
      = form.text_field 'column_data_type_1'
      #rm-column-1.remove-column.d-none
  #add-column
    +
  %br/
  =form.submit action_name.eql?('edit') ? :update : :create