= form_with(model: [@story_type, (@story_type.staging_table || @story_type.build_staging_table)] ) do |form|
  = form.label :table_name
  = form.text_field :name, required: true
  -# The blocks below will process by JS
  %div#columns-editable
    - if action_name.eql?('edit')
      - @story_type.staging_table.columns.each_with_index do |column, i|
        %div{ id: "column-#{i + 1}"}
          = form.label :"column_name_#{column['id']}", "#{i + 1}"
          = form.text_field :"column_name_#{column['id']}", value: column['name']
          = form.label :"column_type_#{column['id']}", 'Type'
          = form.select :"column_type_#{column['id']}", data_types, selected: column['type']
          %div.remove-column.d-inline-block{ id: "rm-column-#{i + 1}", onclick: 'removeColumnAndSaveEnum(this)' } -
  #add-column
    +
  %br/
  =form.submit action_name.eql?('edit') ? :update : :create

= render 'staging_tables/staging_table_columns'
