=form_with(model: [@story_type, @story_type.build_staging_table], url: story_type_staging_table_path(@story_type)) do |form|
  #add-column
    +
  %div#columns-editable
    -hex = SecureRandom.hex(3)
    %div{ id: "col_#{hex}" }
      %div.remove-column.d-inline-block{ id: "rm_col_#{hex}", onclick: 'removeColumn(this)' } -
      =form.text_field "#{hex}[name]", { require: true, id: "staging_table_#{hex}_name" }
      =form.select "#{hex}[type]", data_types, {}, { id: "staging_table_#{hex}_type", onchange: 'optionsForColumnType(this)' }
  %br/
  =form.submit :create
