-iteration = @story_type.iteration
-staging_table = @story_type.staging_table

.row.small
  .col-10.offset-1
    .row
      .col-12
        %p #{@story_type.reload.staging_table.name}
    .row#staging_table_main_control
      .col-1
        #sync.btn-group
          =link_to('sync', sync_story_type_staging_table_path(@story_type, staging_table),
                    class: 'btn btn-sm btn-outline-dark', method: :patch, remote: true)
      .col-6
        #manipulate.btn-group.ml-2
          =link_to('detach', detach_story_type_staging_table_path(@story_type, iteration, staging_table),
                    class: 'btn btn-sm btn-outline-danger', method: :delete,  remote: true,
                    data: { confirm: 'DETACH TABLE: You sure?' })
          =link_to('purge current iteration', story_type_iteration_population_path(@story_type, iteration, staging_table),
                    class: 'btn btn-sm btn-outline-danger', method: :delete,  remote: true,
                    data: { confirm: 'PURGE CURRENT ITERATION: You sure?' })
      .col-5.text-right
        #exec_population
          -if @story_type.code.attached?
            -if iteration.population.nil?
              =render 'populations/form'
            -elsif @story_type.iteration.population.eql?(false)
              #population_in_progress
                =render 'samples/spinner', description: 'Population in progress'
            -else
              #population_status
                population success
    %hr/
    %ul#staging_table_tabs.small.nav.nav-tabs{:role => "tablist"}
      %li.w-50.text-center.nav-item
        %a#columns-tab.nav-link.active{"aria-controls" => "columns", "aria-selected" => "true", "data-toggle" => "tab", :href => "#columns", :role => "tab"}
          Columns
      %li.w-50.text-center.nav-item
        %a#index-tab.nav-link{"aria-controls" => "index", "aria-selected" => "false", "data-toggle" => "tab", :href => "#index", :role => "tab"}
          Index
    #staging_table_content.tab-content
      #columns.tab-pane.fade.show.active{"aria-labelledby" => "columns-tab", :role => "tabpanel"}
        %hr.mt-0/
        #edit_columns.btn-group.mb-2
          =link_to('edit column list',
                   edit_story_type_staging_table_columns_path(@story_type, staging_table, staging_table.columns),
                   class: 'btn btn-sm btn-outline-dark', remote: true)
        %br
        .row.font-weight-bold
          .col-6 name
          .col-6 type
        %hr.mb-1.mt-1/
        -columns = staging_table.columns.list
        -columns.each do |_id, col|
          .row
            .col-6
              #{col[:name]}
            .col-6
              #{col[:type]} #{col[:opts].values.all?(nil) ? '' : "(#{col[:opts].values.compact.join(',')})"}
      #index.tab-pane.fade{"aria-labelledby" => "index-tab", :role => "tabpanel"}
        %hr.mt-0/
        #edit_index.btn-group.mb-2
          -if staging_table.index.list.empty?
            =link_to("add unique 'story per publication' index",
                     new_story_type_staging_table_index_path(@story_type, staging_table),
                     class: "btn btn-sm btn-outline-dark #{columns.empty? ? 'disabled': ''}", remote: true)
          -else
            =link_to("drop unique 'story per publication' index",
                     story_type_staging_table_index_path(@story_type, staging_table, staging_table.index),
                     class: 'btn btn-sm btn-outline-dark', method: :delete, remote: true)
        %p #{@story_type.staging_table.index.list.join(', ')}

=render 'populations/block_manipulate_buttons'
