%div{ id: "iteration_exported_factoids", iteration_exported_factoids_id: @iteration.id }
-if @iteration.export
  #info.small.pt-3.pb-3
    .row
      .col-1.text-right
        developer:
      .col-11
        #{@article_type.developer.name}
    .row
      .col-1.text-right
        iteration:
      .col-11
        #{@iteration.name}
    .row
      .col
        =button_tag 'Select all', onclick: "selectAll();"
        =button_tag 'Delete', onclick: "deleteSelected();"

  %hr.mt-1.mb-3/

  #exported_factoids
    =render 'article_types/exports/factoids_table'

  %hr.mb-3/
  .small
    =paginate @articles, window: 3
  %hr/

  :javascript
    function selectAll(){
      document.querySelectorAll('input[type="checkbox"]').forEach(elem => {
        elem.checked = true;
      });
    }

    function deleteSelected() {
      if (!confirm('Are you sure?')) return;

      var values = [];
      document.querySelectorAll('input[type="checkbox"]').forEach(elem => {
        if (elem.checked) { values.push(elem.id) }
      });
      Rails.ajax({
        type: "DELETE",
        dataType: 'script',
        url: `#{remove_selected_factoids_article_type_iteration_exports_path(@article_type, @iteration)}`,
        data: `factoids_ids=${values}`
      })
    }

-else
  %hr/
  .row
    .col-12.text-center.alert.alert-danger
      Export process not ended or developer #{"#{@article_type.developer.name} "}is making some changes for this iteration
